{
  "Value": {
    "$type": "OFT.Platform.Settings.SmartDOM.SmartDOMSettings, OFT.Platform",
    "TradingSettings": {
      "ShowOrders": false,
      "SimpleOrderEntry": true,
      "OneClickMode": false,
      "CloseOutstandingOrders": false,
      "StopLimitSlippage": 1,
      "IsStopLimit": false,
      "RowHeight": 24,
      "AutoCenterIntervalSec": 60,
      "AutoCenterSpeed": 30,
      "BackColor": "#FF121212",
      "DigitsAfterComma": 0,
      "CenterLineColor": "#FFF1F1F1",
      "CenterLineWidth": 2,
      "ShowCenterLine": true,
      "ScaleSettings": {
        "CustomScale": 1,
        "UseAutoScale": true
      },
      "UseCustomUpdateIntervals": true,
      "MaxCUstomFPS": 100,
      "MinCustomFPS": 100,
      "ActiveOrdersPen": {
        "LineDashStyle": "solid",
        "Width": 1,
        "Color": "#FFF1F1F1"
      },
      "MinimizeValues": false,
      "PriceLocation": "right",
      "Font": {
        "Size": 9,
        "FontFamily": "Segoe UI",
        "Bold": false,
        "Italic": false,
        "Underline": false,
        "Strikeout": false
      },
      "HeaderFont": {
        "Size": 8,
        "FontFamily": "Segoe UI",
        "Bold": false,
        "Italic": false,
        "Underline": false,
        "Strikeout": false
      },
      "HeaderBackground": "#FF1A2333",
      "HeaderTextColor": "#FFF1F1F1",
      "ButtonFont": {
        "Size": 8,
        "FontFamily": "Segoe UI",
        "Bold": false,
        "Italic": false,
        "Underline": false,
        "Strikeout": false
      },
      "ButtonBackground": "#FF1A2333",
      "ButtonTextColor": "#FFF1F1F1",
      "MouseOverColor": "#FF2196F3",
      "AutoCenterIntervalSecEnabled": true,
      "AutoCenterIntervalTicks": 10,
      "AutoCenterIntervalTicksEnabled": false,
      "DepthCount": 10,
      "DepthCountEnabled": false
    },
    "Volume": 0.001,
    "LimitPrice": 0.0,
    "StopPrice": 0.0,
    "Locked": false,
    "SelectedTif": "Day",
    "CanvasSettings": {
      "Elements": [
        {
          "Name": "WindowsFormsHost1",
          "DesignX": "NaN",
          "DesignY": "NaN",
          "DesignWidth": 343.0,
          "DesignHeight": 912.0,
          "X": 1.0,
          "Y": 27.0,
          "FixedX": true,
          "FixedY": true,
          "Width": 343.0,
          "Height": 912.0,
          "Visibility": "visible",
          "StretchHorizontally": true,
          "StretchVertically": true,
          "Background": {
            "Custom": false,
            "BrushData": "<SolidColorBrush xmlns=\"http://schemas.microsoft.com/winfx/2006/xaml/presentation\">#00FFFFFF</SolidColorBrush>"
          },
          "Foreground": {
            "Custom": false,
            "BrushData": "<SolidColorBrush xmlns=\"http://schemas.microsoft.com/winfx/2006/xaml/presentation\">#00FFFFFF</SolidColorBrush>"
          },
          "FontSize": 11.0,
          "Volume": 0.0
        },
        {
          "Name": "AccountsBox",
          "DesignX": "NaN",
          "DesignY": "NaN",
          "DesignWidth": 274.4000000000001,
          "DesignHeight": "NaN",
          "X": 2.0,
          "Y": 1.0,
          "FixedX": true,
          "FixedY": true,
          "Width": 274.4000000000001,
          "Height": 22.0,
          "Visibility": "visible",
          "StretchHorizontally": true,
          "StretchVertically": false,
          "Background": {
            "Custom": false,
            "BrushData": "<SolidColorBrush xmlns=\"http://schemas.microsoft.com/winfx/2006/xaml/presentation\">#00FFFFFF</SolidColorBrush>"
          },
          "Foreground": {
            "Custom": false,
            "BrushData": "<SolidColorBrush xmlns=\"http://schemas.microsoft.com/winfx/2006/xaml/presentation\">#00FFFFFF</SolidColorBrush>"
          },
          "FontSize": 11.0,
          "Volume": 0.0
        },
        {
          "Name": "VolumeCounter",
          "DesignX": 138.0,
          "DesignY": "NaN",
          "DesignWidth": "NaN",
          "DesignHeight": "NaN",
          "X": 138.0,
          "Y": 1.0,
          "FixedX": false,
          "FixedY": true,
          "Width": 50.0,
          "Height": 22.0,
          "Visibility": "visible",
          "StretchHorizontally": false,
          "StretchVertically": false,
          "Background": {
            "Custom": false,
            "BrushData": "<SolidColorBrush xmlns=\"http://schemas.microsoft.com/winfx/2006/xaml/presentation\">#00FFFFFF</SolidColorBrush>"
          },
          "Foreground": {
            "Custom": false,
            "BrushData": "<SolidColorBrush xmlns=\"http://schemas.microsoft.com/winfx/2006/xaml/presentation\">#00FFFFFF</SolidColorBrush>"
          },
          "FontSize": 11.0,
          "Volume": 0.0
        },
        {
          "Name": "PnL",
          "DesignX": 297.0,
          "DesignY": 442.0,
          "DesignWidth": "NaN",
          "DesignHeight": "NaN",
          "X": 297.0,
          "Y": 442.0,
          "FixedX": false,
          "FixedY": false,
          "Width": 45.0,
          "Height": 22.0,
          "Visibility": "hidden",
          "StretchHorizontally": false,
          "StretchVertically": false,
          "Background": {
            "Custom": false,
            "BrushData": "<SolidColorBrush xmlns=\"http://schemas.microsoft.com/winfx/2006/xaml/presentation\">#00FFFFFF</SolidColorBrush>"
          },
          "Foreground": {
            "Custom": false,
            "BrushData": "<SolidColorBrush xmlns=\"http://schemas.microsoft.com/winfx/2006/xaml/presentation\">#00FFFFFF</SolidColorBrush>"
          },
          "FontSize": 12.0,
          "PositiveColor": "#FF008000",
          "PositiveBackground": "#00FFFFFF",
          "NegativeColor": "#FFFF0000",
          "NegativeBackground": "#00FFFFFF",
          "ZeroColor": "#FF000000",
          "ZeroBackground": "#00FFFFFF",
          "Volume": 0.0
        },
        {
          "Name": "Flat",
          "DesignX": 291.0,
          "DesignY": 940.0,
          "DesignWidth": "NaN",
          "DesignHeight": 20.0,
          "X": 291.0,
          "Y": 940.0,
          "FixedX": false,
          "FixedY": false,
          "Width": 30.0,
          "Height": 20.0,
          "Visibility": "visible",
          "StretchHorizontally": false,
          "StretchVertically": false,
          "Background": {
            "Custom": false,
            "BrushData": "<SolidColorBrush xmlns=\"http://schemas.microsoft.com/winfx/2006/xaml/presentation\">#00FFFFFF</SolidColorBrush>"
          },
          "Foreground": {
            "Custom": false,
            "BrushData": "<SolidColorBrush xmlns=\"http://schemas.microsoft.com/winfx/2006/xaml/presentation\">#00FFFFFF</SolidColorBrush>"
          },
          "FontSize": 12.0,
          "PositiveColor": "#FFFFFFFF",
          "PositiveBackground": "#FF008000",
          "NegativeColor": "#FFFFFFFF",
          "NegativeBackground": "#FFFF0000",
          "ZeroColor": "#FF808080",
          "ZeroBackground": "#00FFFFFF",
          "Volume": 0.0
        },
        {
          "Name": "Entry",
          "DesignX": 275.0,
          "DesignY": 746.0,
          "DesignWidth": "NaN",
          "DesignHeight": "NaN",
          "X": 275.0,
          "Y": 746.0,
          "FixedX": false,
          "FixedY": false,
          "Width": 76.0,
          "Height": 22.0,
          "Visibility": "hidden",
          "StretchHorizontally": false,
          "StretchVertically": false,
          "Background": {
            "Custom": false,
            "BrushData": "<SolidColorBrush xmlns=\"http://schemas.microsoft.com/winfx/2006/xaml/presentation\">#00FFFFFF</SolidColorBrush>"
          },
          "Foreground": {
            "Custom": false,
            "BrushData": "<SolidColorBrush xmlns=\"http://schemas.microsoft.com/winfx/2006/xaml/presentation\">#00FFFFFF</SolidColorBrush>"
          },
          "FontSize": 12.0,
          "PositiveColor": "#FF008000",
          "PositiveBackground": "#00FFFFFF",
          "NegativeColor": "#FFFF0000",
          "NegativeBackground": "#00FFFFFF",
          "ZeroColor": "#FF000000",
          "ZeroBackground": "#00FFFFFF",
          "Volume": 0.0
        },
        {
          "Name": "QtyBox",
          "DesignX": 288.0,
          "DesignY": 694.0,
          "DesignWidth": "NaN",
          "DesignHeight": "NaN",
          "X": 288.0,
          "Y": 694.0,
          "FixedX": false,
          "FixedY": false,
          "Width": 30.0,
          "Height": 22.0,
          "Visibility": "hidden",
          "StretchHorizontally": false,
          "StretchVertically": false,
          "Background": {
            "Custom": false,
            "BrushData": "<SolidColorBrush xmlns=\"http://schemas.microsoft.com/winfx/2006/xaml/presentation\">#00FFFFFF</SolidColorBrush>"
          },
          "Foreground": {
            "Custom": false,
            "BrushData": "<SolidColorBrush xmlns=\"http://schemas.microsoft.com/winfx/2006/xaml/presentation\">#00FFFFFF</SolidColorBrush>"
          },
          "FontSize": 12.0,
          "PositiveColor": "#FF008000",
          "PositiveBackground": "#00FFFFFF",
          "NegativeColor": "#FFFF0000",
          "NegativeBackground": "#00FFFFFF",
          "ZeroColor": "#FF000000",
          "ZeroBackground": "#00FFFFFF",
          "Volume": 0.0
        },
        {
          "Name": "F",
          "DesignX": "NaN",
          "DesignY": 940.0,
          "DesignWidth": 230.0,
          "DesignHeight": 20.0,
          "X": 77.0,
          "Y": 940.0,
          "FixedX": true,
          "FixedY": false,
          "Width": 230.0,
          "Height": 20.0,
          "Visibility": "visible",
          "StretchHorizontally": true,
          "StretchVertically": false,
          "Background": {
            "Custom": false,
            "BrushData": "<SolidColorBrush xmlns=\"http://schemas.microsoft.com/winfx/2006/xaml/presentation\">#FFEBEBEF</SolidColorBrush>"
          },
          "Foreground": {
            "Custom": false,
            "BrushData": "<SolidColorBrush xmlns=\"http://schemas.microsoft.com/winfx/2006/xaml/presentation\">#FF404040</SolidColorBrush>"
          },
          "FontSize": 12.0,
          "Content": "Flatten",
          "Volume": 0.0
        },
        {
          "Name": "R",
          "DesignX": 1.6000000000000085,
          "DesignY": 940.0,
          "DesignWidth": "NaN",
          "DesignHeight": 20.0,
          "X": 1.6000000000000085,
          "Y": 940.0,
          "FixedX": true,
          "FixedY": false,
          "Width": 75.0,
          "Height": 20.0,
          "Visibility": "visible",
          "StretchHorizontally": false,
          "StretchVertically": false,
          "Background": {
            "Custom": false,
            "BrushData": "<SolidColorBrush xmlns=\"http://schemas.microsoft.com/winfx/2006/xaml/presentation\">#FFEBEBEF</SolidColorBrush>"
          },
          "Foreground": {
            "Custom": false,
            "BrushData": "<SolidColorBrush xmlns=\"http://schemas.microsoft.com/winfx/2006/xaml/presentation\">#FF404040</SolidColorBrush>"
          },
          "FontSize": 12.0,
          "Content": "Reverse",
          "Volume": 0.0
        },
        {
          "Name": "X",
          "DesignX": 137.0,
          "DesignY": 940.0,
          "DesignWidth": "NaN",
          "DesignHeight": 20.0,
          "X": 137.0,
          "Y": 940.0,
          "FixedX": false,
          "FixedY": false,
          "Width": 75.0,
          "Height": 20.0,
          "Visibility": "visible",
          "StretchHorizontally": false,
          "StretchVertically": false,
          "Background": {
            "Custom": false,
            "BrushData": "<SolidColorBrush xmlns=\"http://schemas.microsoft.com/winfx/2006/xaml/presentation\">#FFEBEBEF</SolidColorBrush>"
          },
          "Foreground": {
            "Custom": false,
            "BrushData": "<SolidColorBrush xmlns=\"http://schemas.microsoft.com/winfx/2006/xaml/presentation\">#FF404040</SolidColorBrush>"
          },
          "FontSize": 12.0,
          "Content": "Cancel all",
          "Volume": 0.0
        },
        {
          "Name": "C",
          "DesignX": 322.0,
          "DesignY": 940.0,
          "DesignWidth": 21.0,
          "DesignHeight": 20.0,
          "X": 322.0,
          "Y": 940.0,
          "FixedX": false,
          "FixedY": false,
          "Width": 21.0,
          "Height": 20.0,
          "Visibility": "visible",
          "StretchHorizontally": false,
          "StretchVertically": false,
          "Background": {
            "Custom": false,
            "BrushData": "<SolidColorBrush xmlns=\"http://schemas.microsoft.com/winfx/2006/xaml/presentation\">#FFEBEBEF</SolidColorBrush>"
          },
          "Foreground": {
            "Custom": false,
            "BrushData": "<SolidColorBrush xmlns=\"http://schemas.microsoft.com/winfx/2006/xaml/presentation\">#FF404040</SolidColorBrush>"
          },
          "FontSize": 12.0,
          "Content": "C",
          "Volume": 0.0
        },
        {
          "Name": "lockborder",
          "DesignX": 252.0,
          "DesignY": 940.0,
          "DesignWidth": "NaN",
          "DesignHeight": 20.0,
          "X": 252.0,
          "Y": 940.0,
          "FixedX": false,
          "FixedY": false,
          "Width": 38.0,
          "Height": 20.0,
          "Visibility": "visible",
          "StretchHorizontally": false,
          "StretchVertically": false,
          "Background": {
            "Custom": false,
            "BrushData": "<SolidColorBrush xmlns=\"http://schemas.microsoft.com/winfx/2006/xaml/presentation\">#00FFFFFF</SolidColorBrush>"
          },
          "Foreground": {
            "Custom": false,
            "BrushData": "<SolidColorBrush xmlns=\"http://schemas.microsoft.com/winfx/2006/xaml/presentation\">#00FFFFFF</SolidColorBrush>"
          },
          "FontSize": 11.0,
          "Volume": 0.0
        },
        {
          "Name": "ocoborder",
          "DesignX": 213.0,
          "DesignY": 940.0,
          "DesignWidth": "NaN",
          "DesignHeight": 20.0,
          "X": 213.0,
          "Y": 940.0,
          "FixedX": false,
          "FixedY": false,
          "Width": 38.0,
          "Height": 20.0,
          "Visibility": "visible",
          "StretchHorizontally": false,
          "StretchVertically": false,
          "Background": {
            "Custom": false,
            "BrushData": "<SolidColorBrush xmlns=\"http://schemas.microsoft.com/winfx/2006/xaml/presentation\">#00FFFFFF</SolidColorBrush>"
          },
          "Foreground": {
            "Custom": false,
            "BrushData": "<SolidColorBrush xmlns=\"http://schemas.microsoft.com/winfx/2006/xaml/presentation\">#00FFFFFF</SolidColorBrush>"
          },
          "FontSize": 11.0,
          "Volume": 0.0
        },
        {
          "Name": "buybid",
          "DesignX": 265.0,
          "DesignY": 488.0,
          "DesignWidth": "NaN",
          "DesignHeight": "NaN",
          "X": 265.0,
          "Y": 488.0,
          "FixedX": false,
          "FixedY": false,
          "Width": 70.0,
          "Height": 22.0,
          "Visibility": "hidden",
          "StretchHorizontally": false,
          "StretchVertically": false,
          "Background": {
            "Custom": false,
            "BrushData": "<SolidColorBrush xmlns=\"http://schemas.microsoft.com/winfx/2006/xaml/presentation\">#FFEBEBEF</SolidColorBrush>"
          },
          "Foreground": {
            "Custom": false,
            "BrushData": "<SolidColorBrush xmlns=\"http://schemas.microsoft.com/winfx/2006/xaml/presentation\">#FF404040</SolidColorBrush>"
          },
          "FontSize": 12.0,
          "Content": "BUY BID",
          "Volume": 0.0
        },
        {
          "Name": "buymarket",
          "DesignX": 265.0,
          "DesignY": 547.0,
          "DesignWidth": 274.4000000000001,
          "DesignHeight": "NaN",
          "X": 265.0,
          "Y": 547.0,
          "FixedX": false,
          "FixedY": false,
          "Width": 274.4000000000001,
          "Height": 21.0,
          "Visibility": "hidden",
          "StretchHorizontally": true,
          "StretchVertically": false,
          "Background": {
            "Custom": false,
            "BrushData": "<SolidColorBrush xmlns=\"http://schemas.microsoft.com/winfx/2006/xaml/presentation\">#FFEBEBEF</SolidColorBrush>"
          },
          "Foreground": {
            "Custom": false,
            "BrushData": "<SolidColorBrush xmlns=\"http://schemas.microsoft.com/winfx/2006/xaml/presentation\">#FF404040</SolidColorBrush>"
          },
          "FontSize": 12.0,
          "Content": "BUY MKT",
          "Volume": 0.0
        },
        {
          "Name": "buyask",
          "DesignX": 273.0,
          "DesignY": 675.0,
          "DesignWidth": "NaN",
          "DesignHeight": "NaN",
          "X": 273.0,
          "Y": 675.0,
          "FixedX": false,
          "FixedY": false,
          "Width": 70.0,
          "Height": 22.0,
          "Visibility": "hidden",
          "StretchHorizontally": false,
          "StretchVertically": false,
          "Background": {
            "Custom": false,
            "BrushData": "<SolidColorBrush xmlns=\"http://schemas.microsoft.com/winfx/2006/xaml/presentation\">#FFEBEBEF</SolidColorBrush>"
          },
          "Foreground": {
            "Custom": false,
            "BrushData": "<SolidColorBrush xmlns=\"http://schemas.microsoft.com/winfx/2006/xaml/presentation\">#FF404040</SolidColorBrush>"
          },
          "FontSize": 12.0,
          "Content": "BUY ASK",
          "Volume": 0.0
        },
        {
          "Name": "sellbid",
          "DesignX": 266.0,
          "DesignY": 516.0,
          "DesignWidth": "NaN",
          "DesignHeight": "NaN",
          "X": 266.0,
          "Y": 516.0,
          "FixedX": false,
          "FixedY": false,
          "Width": 70.0,
          "Height": 22.0,
          "Visibility": "hidden",
          "StretchHorizontally": false,
          "StretchVertically": false,
          "Background": {
            "Custom": false,
            "BrushData": "<SolidColorBrush xmlns=\"http://schemas.microsoft.com/winfx/2006/xaml/presentation\">#FFEBEBEF</SolidColorBrush>"
          },
          "Foreground": {
            "Custom": false,
            "BrushData": "<SolidColorBrush xmlns=\"http://schemas.microsoft.com/winfx/2006/xaml/presentation\">#FF404040</SolidColorBrush>"
          },
          "FontSize": 12.0,
          "Content": "SELL BID",
          "Volume": 0.0
        },
        {
          "Name": "sellmarket",
          "DesignX": 262.0,
          "DesignY": 570.0,
          "DesignWidth": "NaN",
          "DesignHeight": "NaN",
          "X": 262.0,
          "Y": 570.0,
          "FixedX": false,
          "FixedY": false,
          "Width": 78.0,
          "Height": 24.0,
          "Visibility": "hidden",
          "StretchHorizontally": false,
          "StretchVertically": false,
          "Background": {
            "Custom": false,
            "BrushData": "<SolidColorBrush xmlns=\"http://schemas.microsoft.com/winfx/2006/xaml/presentation\">#FFEBEBEF</SolidColorBrush>"
          },
          "Foreground": {
            "Custom": false,
            "BrushData": "<SolidColorBrush xmlns=\"http://schemas.microsoft.com/winfx/2006/xaml/presentation\">#FF404040</SolidColorBrush>"
          },
          "FontSize": 12.0,
          "Content": "SELL MKT",
          "Volume": 0.0
        },
        {
          "Name": "sellask",
          "DesignX": 274.0,
          "DesignY": 708.0,
          "DesignWidth": "NaN",
          "DesignHeight": "NaN",
          "X": 274.0,
          "Y": 708.0,
          "FixedX": false,
          "FixedY": false,
          "Width": 70.0,
          "Height": 22.0,
          "Visibility": "hidden",
          "StretchHorizontally": false,
          "StretchVertically": false,
          "Background": {
            "Custom": false,
            "BrushData": "<SolidColorBrush xmlns=\"http://schemas.microsoft.com/winfx/2006/xaml/presentation\">#FFEBEBEF</SolidColorBrush>"
          },
          "Foreground": {
            "Custom": false,
            "BrushData": "<SolidColorBrush xmlns=\"http://schemas.microsoft.com/winfx/2006/xaml/presentation\">#FF404040</SolidColorBrush>"
          },
          "FontSize": 12.0,
          "Content": "SELL ASK",
          "Volume": 0.0
        },
        {
          "Name": "grid1",
          "DesignX": 261.0,
          "DesignY": 611.0,
          "DesignWidth": "NaN",
          "DesignHeight": "NaN",
          "X": 261.0,
          "Y": 611.0,
          "FixedX": false,
          "FixedY": false,
          "Width": "NaN",
          "Height": "NaN",
          "Visibility": "hidden",
          "StretchHorizontally": false,
          "StretchVertically": false,
          "Background": {
            "Custom": false,
            "BrushData": "<SolidColorBrush xmlns=\"http://schemas.microsoft.com/winfx/2006/xaml/presentation\">#00FFFFFF</SolidColorBrush>"
          },
          "Foreground": {
            "Custom": false,
            "BrushData": "<SolidColorBrush xmlns=\"http://schemas.microsoft.com/winfx/2006/xaml/presentation\">#00FFFFFF</SolidColorBrush>"
          },
          "FontSize": 11.0,
          "Volume": 0.0
        },
        {
          "Name": "grid2",
          "DesignX": 189.0,
          "DesignY": "NaN",
          "DesignWidth": "NaN",
          "DesignHeight": "NaN",
          "X": 189.0,
          "Y": 1.0,
          "FixedX": false,
          "FixedY": true,
          "Width": 156.0,
          "Height": 22.0,
          "Visibility": "visible",
          "StretchHorizontally": false,
          "StretchVertically": false,
          "Background": {
            "Custom": false,
            "BrushData": "<SolidColorBrush xmlns=\"http://schemas.microsoft.com/winfx/2006/xaml/presentation\">#00FFFFFF</SolidColorBrush>"
          },
          "Foreground": {
            "Custom": false,
            "BrushData": "<SolidColorBrush xmlns=\"http://schemas.microsoft.com/winfx/2006/xaml/presentation\">#00FFFFFF</SolidColorBrush>"
          },
          "FontSize": 11.0,
          "Volume": 0.0
        },
        {
          "Name": "lot1",
          "DesignX": 0.0,
          "DesignY": "NaN",
          "DesignWidth": "NaN",
          "DesignHeight": "NaN",
          "X": 49.0,
          "Y": 1.0,
          "FixedX": false,
          "FixedY": true,
          "Width": 22.0,
          "Height": 22.0,
          "Visibility": "visible",
          "StretchHorizontally": false,
          "StretchVertically": false,
          "Background": {
            "Custom": false,
            "BrushData": "<SolidColorBrush xmlns=\"http://schemas.microsoft.com/winfx/2006/xaml/presentation\">#FFEBEBEF</SolidColorBrush>"
          },
          "Foreground": {
            "Custom": false,
            "BrushData": "<SolidColorBrush xmlns=\"http://schemas.microsoft.com/winfx/2006/xaml/presentation\">#FF404040</SolidColorBrush>"
          },
          "FontSize": 12.0,
          "Volume": 1.0
        },
        {
          "Name": "lot2",
          "DesignX": 23.0,
          "DesignY": "NaN",
          "DesignWidth": "NaN",
          "DesignHeight": "NaN",
          "X": 49.0,
          "Y": 1.0,
          "FixedX": false,
          "FixedY": true,
          "Width": 22.0,
          "Height": 22.0,
          "Visibility": "visible",
          "StretchHorizontally": false,
          "StretchVertically": false,
          "Background": {
            "Custom": false,
            "BrushData": "<SolidColorBrush xmlns=\"http://schemas.microsoft.com/winfx/2006/xaml/presentation\">#FFEBEBEF</SolidColorBrush>"
          },
          "Foreground": {
            "Custom": false,
            "BrushData": "<SolidColorBrush xmlns=\"http://schemas.microsoft.com/winfx/2006/xaml/presentation\">#FF404040</SolidColorBrush>"
          },
          "FontSize": 12.0,
          "Volume": 2.0
        },
        {
          "Name": "lot3",
          "DesignX": 46.0,
          "DesignY": "NaN",
          "DesignWidth": "NaN",
          "DesignHeight": "NaN",
          "X": 49.0,
          "Y": 1.0,
          "FixedX": false,
          "FixedY": true,
          "Width": 22.0,
          "Height": 22.0,
          "Visibility": "visible",
          "StretchHorizontally": false,
          "StretchVertically": false,
          "Background": {
            "Custom": false,
            "BrushData": "<SolidColorBrush xmlns=\"http://schemas.microsoft.com/winfx/2006/xaml/presentation\">#FFEBEBEF</SolidColorBrush>"
          },
          "Foreground": {
            "Custom": false,
            "BrushData": "<SolidColorBrush xmlns=\"http://schemas.microsoft.com/winfx/2006/xaml/presentation\">#FF404040</SolidColorBrush>"
          },
          "FontSize": 12.0,
          "Volume": 3.0
        },
        {
          "Name": "lot4",
          "DesignX": 69.0,
          "DesignY": "NaN",
          "DesignWidth": "NaN",
          "DesignHeight": "NaN",
          "X": 69.0,
          "Y": 1.0,
          "FixedX": false,
          "FixedY": true,
          "Width": 22.0,
          "Height": 22.0,
          "Visibility": "visible",
          "StretchHorizontally": false,
          "StretchVertically": false,
          "Background": {
            "Custom": false,
            "BrushData": "<SolidColorBrush xmlns=\"http://schemas.microsoft.com/winfx/2006/xaml/presentation\">#FFEBEBEF</SolidColorBrush>"
          },
          "Foreground": {
            "Custom": false,
            "BrushData": "<SolidColorBrush xmlns=\"http://schemas.microsoft.com/winfx/2006/xaml/presentation\">#FF404040</SolidColorBrush>"
          },
          "FontSize": 12.0,
          "Volume": 5.0
        },
        {
          "Name": "lot5",
          "DesignX": 92.0,
          "DesignY": "NaN",
          "DesignWidth": "NaN",
          "DesignHeight": "NaN",
          "X": 92.0,
          "Y": 1.0,
          "FixedX": false,
          "FixedY": true,
          "Width": 22.0,
          "Height": 22.0,
          "Visibility": "visible",
          "StretchHorizontally": false,
          "StretchVertically": false,
          "Background": {
            "Custom": false,
            "BrushData": "<SolidColorBrush xmlns=\"http://schemas.microsoft.com/winfx/2006/xaml/presentation\">#FFEBEBEF</SolidColorBrush>"
          },
          "Foreground": {
            "Custom": false,
            "BrushData": "<SolidColorBrush xmlns=\"http://schemas.microsoft.com/winfx/2006/xaml/presentation\">#FF404040</SolidColorBrush>"
          },
          "FontSize": 12.0,
          "Volume": 10.0
        },
        {
          "Name": "lot6",
          "DesignX": 115.0,
          "DesignY": "NaN",
          "DesignWidth": "NaN",
          "DesignHeight": "NaN",
          "X": 115.0,
          "Y": 1.0,
          "FixedX": false,
          "FixedY": true,
          "Width": 22.0,
          "Height": 22.0,
          "Visibility": "visible",
          "StretchHorizontally": false,
          "StretchVertically": false,
          "Background": {
            "Custom": false,
            "BrushData": "<SolidColorBrush xmlns=\"http://schemas.microsoft.com/winfx/2006/xaml/presentation\">#FFEBEBEF</SolidColorBrush>"
          },
          "Foreground": {
            "Custom": false,
            "BrushData": "<SolidColorBrush xmlns=\"http://schemas.microsoft.com/winfx/2006/xaml/presentation\">#FF404040</SolidColorBrush>"
          },
          "FontSize": 12.0,
          "Volume": 50.0
        },
        {
          "Name": "TIFSelector",
          "DesignX": -62.0,
          "DesignY": "NaN",
          "DesignWidth": "NaN",
          "DesignHeight": "NaN",
          "X": 49.0,
          "Y": 1.0,
          "FixedX": false,
          "FixedY": true,
          "Width": 61.0,
          "Height": 22.0,
          "Visibility": "visible",
          "StretchHorizontally": false,
          "StretchVertically": false,
          "Background": {
            "Custom": false,
            "BrushData": "<SolidColorBrush xmlns=\"http://schemas.microsoft.com/winfx/2006/xaml/presentation\">#00FFFFFF</SolidColorBrush>"
          },
          "Foreground": {
            "Custom": false,
            "BrushData": "<SolidColorBrush xmlns=\"http://schemas.microsoft.com/winfx/2006/xaml/presentation\">#00FFFFFF</SolidColorBrush>"
          },
          "FontSize": 11.0,
          "Volume": 0.0
        },
        {
          "Name": "TPlusLimitSelector",
          "DesignX": "NaN",
          "DesignY": "NaN",
          "DesignWidth": "NaN",
          "DesignHeight": "NaN",
          "X": 2.0,
          "Y": 24.0,
          "FixedX": true,
          "FixedY": true,
          "Width": 61.0,
          "Height": 22.0,
          "Visibility": "hidden",
          "StretchHorizontally": false,
          "StretchVertically": false,
          "Background": {
            "Custom": false,
            "BrushData": "<SolidColorBrush xmlns=\"http://schemas.microsoft.com/winfx/2006/xaml/presentation\">#00FFFFFF</SolidColorBrush>"
          },
          "Foreground": {
            "Custom": false,
            "BrushData": "<SolidColorBrush xmlns=\"http://schemas.microsoft.com/winfx/2006/xaml/presentation\">#00FFFFFF</SolidColorBrush>"
          },
          "FontSize": 11.0,
          "Volume": 0.0
        }
      ],
      "ActualSize": "344,960"
    },
    "Columns": [
      {
        "$type": "Advanced_Time_And_Sales.TradingModule.Columns.HistogramColumn, OFT.Controls",
        "ShowHistogram": true,
        "Interval": "currentDay",
        "HistogramType": "bid",
        "RightToLeft": true,
        "HistogramColor": "#FF00E1E1",
        "BidsColor": "#FFDC143C",
        "AskColor": "#FF4F81BD",
        "SelectMaxValue": true,
        "MaxValueColor": "#FFF79646",
        "ShowValueArea": true,
        "ValueAreaColor": "#FF7F7F7F",
        "BestPriceMode": "hide",
        "BestPriceColor": "#FFA9A9A9",
        "ShowBarDirection": false,
        "PositivebarColor": "#FF005454",
        "NegativebarColor": "#FF54001C",
        "ShowLastTrade": false,
        "CumulativeMode": true,
        "UpTickBackground": "#FF90EE90",
        "UpTickText": "#FF000000",
        "DownTickBackground": "#FFFF4500",
        "DownTickText": "#FFFFFFFF",
        "SameTickBackground": "#FFFFFFFF",
        "SameTickText": "#FF000000",
        "TextAlignment": "center",
        "Header": "Daily Bids",
        "FontColor": "#FFFFFFFF",
        "ColumnColor": "#FF000000",
        "Width": 60,
        "VisualName": "Histogram profile",
        "IsWaitingForRedrawHeader": false,
        "IsSupportedFlush": false,
        "HeaderRectangle": "1, 0, 54, 22"
      },
      {
        "$type": "Advanced_Time_And_Sales.TradingModule.Columns.HistogramColumn, OFT.Controls",
        "ShowHistogram": true,
        "Interval": "currentDay",
        "HistogramType": "ask",
        "RightToLeft": false,
        "HistogramColor": "#FFE91E63",
        "BidsColor": "#FFDC143C",
        "AskColor": "#FF4F81BD",
        "SelectMaxValue": true,
        "MaxValueColor": "#FFF79646",
        "ShowValueArea": true,
        "ValueAreaColor": "#FF7F7F7F",
        "BestPriceMode": "hide",
        "BestPriceColor": "#FFA9A9A9",
        "ShowBarDirection": false,
        "PositivebarColor": "#FF005454",
        "NegativebarColor": "#FF54001C",
        "ShowLastTrade": false,
        "CumulativeMode": true,
        "UpTickBackground": "#FF90EE90",
        "UpTickText": "#FF000000",
        "DownTickBackground": "#FFFF4500",
        "DownTickText": "#FFFFFFFF",
        "SameTickBackground": "#FFFFFFFF",
        "SameTickText": "#FF000000",
        "TextAlignment": "center",
        "Header": "Daily Asks",
        "FontColor": "#FFFFFFFF",
        "ColumnColor": "#FF000000",
        "Width": 60,
        "VisualName": "Histogram profile",
        "IsWaitingForRedrawHeader": false,
        "IsSupportedFlush": false,
        "HeaderRectangle": "55, 0, 54, 22"
      },
      {
        "$type": "Advanced_Time_And_Sales.TradingModule.Columns.PriceColumn, OFT.Controls",
        "PnlType": "percent",
        "ShowCurrentDay": true,
        "CurrentDayBackGround": "#FF000000",
        "ShowLastTrade": false,
        "CurrentPriceBackColor": "#FFFFA500",
        "AvgPriceColor": "#FFDEB887",
        "PriceDigits": {
          "EnabledVisible": true,
          "Enabled": false,
          "Value": 3
        },
        "PositivePnl": "#FF089981",
        "NegativePnl": "#FFF2385A",
        "HighlightBestBidAsk": true,
        "BestAskColor": "#FF089981",
        "BestBidColor": "#FFF2385A",
        "TextAlignment": "default",
        "Header": "Price",
        "FontColor": "#FFFFFFFF",
        "ColumnColor": "#FF000000",
        "Width": 60,
        "VisualName": "Price",
        "IsWaitingForRedrawHeader": false,
        "IsSupportedFlush": false,
        "HeaderRectangle": "109, 0, 54, 22"
      },
      {
        "$type": "Advanced_Time_And_Sales.TradingModule.Columns.Limits, OFT.Controls",
        "BestPriceMode": true,
        "BestPriceColor": "#FF00E1E1",
        "UnvailableRowFontColor": "#FF808080",
        "ShowUnvailableRows": false,
        "SelectionColor": "#FF6F9E96",
        "Side": "bid",
        "VisualMode": "volume",
        "Filter": 0.0,
        "FilterColor": "#FFFFA500",
        "ShowHistogram": true,
        "HistogramColor": "#FF089981",
        "RightToLeft": true,
        "ShowCumulativeValues": false,
        "Header": "Bid",
        "FontColor": "#FFF1F1F1",
        "ColumnColor": "#3B00E1E1",
        "Width": 50,
        "VisualName": "Bids",
        "IsWaitingForRedrawHeader": false,
        "IsSupportedFlush": false,
        "HeaderRectangle": "163, 0, 45, 22"
      },
      {
        "$type": "Advanced_Time_And_Sales.TradingModule.Columns.BuySellColumn, OFT.Controls",
        "Interval": 2500,
        "ClearOnlyTouchedPrice": false,
        "ShowHistogram": false,
        "HistogramColor": "#FFDC143C",
        "RightToLeft": true,
        "LastTradeColor": "#00FFFFFF",
        "LastTradeTextColor": "#00FFFFFF",
        "ShowFlash": true,
        "FlashColor": "#FFE91E63",
        "FlashPeriod": 500,
        "BestPriceMode": "bid",
        "BestPriceColor": "#3BE91E63",
        "MinimumFilter": {
          "EnabledVisible": true,
          "Enabled": false,
          "Value": 0.0
        },
        "MaximumFilter": {
          "EnabledVisible": true,
          "Enabled": false,
          "Value": 0.0
        },
        "MaxVolume": 2.383,
        "IsBuy": false,
        "Header": "Bid trades",
        "FontColor": "#FFF1F1F1",
        "ColumnColor": "#FF000000",
        "Width": 50,
        "VisualName": "Sell current trades",
        "IsWaitingForRedrawHeader": false,
        "IsSupportedFlush": true,
        "HeaderRectangle": "208, 0, 45, 22"
      },
      {
        "$type": "Advanced_Time_And_Sales.TradingModule.Columns.BuySellColumn, OFT.Controls",
        "Interval": 2500,
        "ClearOnlyTouchedPrice": false,
        "ShowHistogram": false,
        "HistogramColor": "#FFDC143C",
        "RightToLeft": true,
        "LastTradeColor": "#00FFFFFF",
        "LastTradeTextColor": "#00FFFFFF",
        "ShowFlash": true,
        "FlashColor": "#FF00E1E1",
        "FlashPeriod": 500,
        "BestPriceMode": "ask",
        "BestPriceColor": "#3B00E1E1",
        "MinimumFilter": {
          "EnabledVisible": true,
          "Enabled": false,
          "Value": 0.0
        },
        "MaximumFilter": {
          "EnabledVisible": true,
          "Enabled": false,
          "Value": 0.0
        },
        "MaxVolume": 5.374,
        "IsBuy": true,
        "Header": "Ask trades",
        "FontColor": "#FFF1F1F1",
        "ColumnColor": "#FF000000",
        "Width": 50,
        "VisualName": "Buy current trades",
        "IsWaitingForRedrawHeader": false,
        "IsSupportedFlush": true,
        "HeaderRectangle": "253, 0, 45, 22"
      },
      {
        "$type": "Advanced_Time_And_Sales.TradingModule.Columns.Limits, OFT.Controls",
        "BestPriceMode": true,
        "BestPriceColor": "#FFE91E63",
        "UnvailableRowFontColor": "#FF808080",
        "ShowUnvailableRows": false,
        "SelectionColor": "#FFF7A6B5",
        "Side": "offer",
        "VisualMode": "volume",
        "Filter": 0.0,
        "FilterColor": "#FFFFA500",
        "ShowHistogram": true,
        "HistogramColor": "#FFF2385A",
        "RightToLeft": false,
        "ShowCumulativeValues": false,
        "Header": "Ask",
        "FontColor": "#FFF1F1F1",
        "ColumnColor": "#3BE91E63",
        "Width": 50,
        "VisualName": "РџСЂРµРґР»РѕР¶РµРЅРёРµ",
        "IsWaitingForRedrawHeader": false,
        "IsSupportedFlush": false,
        "HeaderRectangle": "298, 0, 45, 22"
      }
    ],
    "FloatSize": "1920,1032"
  },
  "IsSystem": false
}